body{
    padding: 0%;
    margin: 0%;
    font-family:arial;

}

.listDiv{
    font-size: 15px;
    padding-block: 8px; 
    border-block: 1px solid black;
    display: flex;
    gap: 2rem;
    gap: var(--gap);
    overflow: hidden;
    user-select: none;
}

.listDiv ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    min-width: 100%;
    animation: scroll 20s linear infinite;
}

@keyframes scroll{
    to{
        transform: translateX(-100%);
    }
}

